<div class="mmm-ping-time" style="font-size: {{config.fontSize}}rem">
    {% if pingResult %}
        <div class="ping-duration">
            {% if pingResult == "cn" %}
                <i class="{{config.connectedIcon}}"></i>
                <span class="success-value" style="color: {{config.connectedFontColor}}">{{ connectedText }}</span>
            {% elif pingResult == "dc" %}
                <i class="{{config.disconnectedIcon}}"></i>
                <span class="warning-value" style="color: {{config.disconnectedFontColor}}">{{ disconnectedText }}</span>
            {% else %}
                <span style="color: {{config.pingFontColor}}">{{ pingResult }}</span>
            {% endif %}
        </div>
    {% else %}
        <div class="ping-loading">
            <i class="{{config.loadingIcon}}"></i>
            Connecting
        </div>
    {% endif %}
</div>


