<div class="mmm-ping-time">
    {% if pingResult %}
        <div class="ping-duration">
            {% if pingResult == "cn" %}
                <i class="success-icon fas fa-check"></i>
                <span class="success-value">{{ connectedText }}</span>
            {% elif pingResult == "dc" %}
                <i class="warning-icon fas fa-ban"></i>
                <span class="warning-value">{{ disconnectedText }}</span>
            {% else %}
                <span class="error-value">{{ pingResult }}</span>
            {% endif %}
        </div>
    {% else %}
        <div class="ping-loading">
            <i class="loading-icon fas fa-sync fa-spin"></i>
            Connecting
        </div>
    {% endif %}
</div>

